    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .logo {
        text-decoration: none;
        color: #ddff00;
        font-size: 3rem;
      }

      .slogan {
        color: #ecf7a5;
      }

      .logo:hover {
        color: #a5bb15;
        transition: all .3s;
      }

      .header {
        background-image: url(bg-1.jpg);
        background-size: cover;
        padding: 30px;
        text-align: center;
        background-color: goldenrod;
        color: aliceblue;
      }

      .navbar {
        display: flex;
        background-color: #333;
      }

      .navbar a {
        color: #fff;
        padding: 16px 20px;
        text-align: center;
        text-decoration: none;
      }

      #Fa:hover {
        color: #4267B2;
        background-color: #b0c1e4;
      }

      #Tw:hover {
        color: #1DA1F2;
        background-color: #adb9c0;
      }

      #Ins {
        position: relative;
        z-index: 1;
      }

      #Ins::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bec3e4;
        mix-blend-mode: multiply;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      #Ins:hover::before {
        opacity: 1;
      }

      #Ins:hover {
        background: #405DE6;
        background: linear-gradient(to right, #405DE6 0%, #5B51D8 11%, #833AB4 23%, #C13584 36%, #E1306C 57%, #FD1D1D 71%, #F56040 85%, #F77737 94%, #FCAF45 100%, #FFDC80 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: transparent;
      }

      #Wht:hover {
        color: #25D366;
        background-color: #c6d6cc;
      }

      .ph {
        background-color: #2a275e;
        width: 100%;
        padding: 20px;
        margin-top: 10px;
      }

      #main {
        display: flex;
      }

      #sidebar {
        background-color: #f28183;
        flex: 25%;
        order: 1;
        padding: 20px;
      }

      #content {
        flex: 75%;
        padding: 30px;
      }

      #content h2 {
        color: #a5bb15;
      }

      .box {
        margin-bottom: 20px;
      }

      p {
        margin: 10px 0;
      }

      #footer {
        background-color: #2a275e;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      @media (max-width: 700px) {
        #main, .navbar {
          flex-direction: column;
        }

        #sidebar {
          order: -1;
        }
      }